<body>
    {{ content_for_layout }}                                                                                                                                                                                    
    <script src="{{ 'jondo.js' | asset_url }}" defer></script>                                                                                                                                                  
  </body>
